body{
 background-image: linear-gradient(to right, #0a0f57, #240026);
}

p {
     font-weight: bold;
    color: white;
}

h1 {
    font-weight: bold;
    color: white;
}

button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    font-weight: bold;
    color: white;
    font-size: 55px;
    position: absolute;
    left: 35%;
}

button:hover {
      color: #737373;
      transition: 0.4s;
  }
