body {
  background-image: linear-gradient(to right, #14351B, #141B35);
}

button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    font-weight: bold;
    color: white;
    font-size: 55px;
    position: absolute;
    left: 45%;
    top: 20px;
}
